*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ol,
ul,
menu {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --background-main: #080a12;
  --background-secondary: #2893bda1;
  --accent-main: #5bc0be;
  --accent-second: #14aaaa;
  --accent-third: #dbb672;
}

/* END OF RESET */

/* Main styling */

body {
  background-color: var(--background-main);
  color: var(--text);
  font-family: "Fira Code";
  max-width: 1920px;
  margin: auto;

  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

*::selection {
  background-color: var(--accent-third);
  color: white;
}

main {
  position: relative;
  padding: 0.5rem;
}

p {
  font-size: 1.25rem;
}

footer {
  width: 100%;
  height: 10rem;
  margin-top: 10rem;

  background-color: var(--accent-third);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 0.25rem;
}

.section-div-text > * {
  margin-bottom: 2rem;
}

.section-div-text > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent-third);
  text-align: center;
}

.section-header {
  font-size: 3rem;
  color: var(--accent-main);
  text-transform: uppercase;
  text-align: center;
}

.section-header-3 {
  font-size: 2rem;
  color: var(--accent-third);
  text-transform: uppercase;
  text-align: center;
}

.page-break {
  height: 2rem;
}

.img-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.tech-span {
  color: var(--accent-third);
  font-weight: 600;
}

.link {
  color: var(--accent-main);
  text-decoration: underline;
}

.link:hover {
  color: var(--accent-second);
}

/* Hero Section Styling */
#hero-section .section-div-main {
  justify-content: center;
}

#hero-section {
  height: 100vh;
  padding-inline: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

#hero-section h1 {
  font-size: 3rem;
  color: var(--accent-main);
  font-weight: 600;
}

#hero-section h2 {
  font-size: 2rem;
  color: var(--accent-third);
  grid-column: 1 / span 2;
}

#hero-section ul {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

#hero-section li {
  margin-bottom: 0.5rem;
}

.hero-link {
  position: relative;
}

.hero-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  width: 100%;

  display: block;
  content: "";

  background-color: var(--accent-main);

  transform-origin: right bottom;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.hero-link:hover:after {
  transform: scaleX(1);
  transform-origin: left bottom;
  transition: transform 0.2s linear;
}

.hero-link:hover,
.hero-link:active {
  color: var(--accent-third);
}

/* Theme Toggle Button */

#theme-toggle-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
}

#theme-toggle-switch-container {
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 3rem;

  outline: 2px solid grey;
  border-radius: 1rem;
  transition: background-color 0.1s linear;
}

#theme-switch {
  height: 1.5rem;
  width: 50%;

  background-color: var(--accent-third);

  border-radius: 1rem;
  transition: transform 0.3s ease-out;
}

#theme-toggle-container::before {
  content: "theme";
  margin-right: 0.5rem;
}

@media screen and (min-width: 1000px) {
  /* Hero Styling */

  #hero-section {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 5rem;
  }

  #hero-section h1 {
    font-size: 8rem;
    color: var(--accent-main);
    font-weight: 600;
  }

  #hero-section h2 {
    font-size: 2rem;
    color: var(--accent-third);
    grid-column: 1 / span 2;
  }

  .content-section {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-inline: 4rem;
  }

  #hero-section .section-div-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #hero-section ul {
    text-align: left;
  }

  .section-div-text > * {
    margin-bottom: 2rem;
    padding-left: 5rem;
  }

  .section-div-text > h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-third);
    text-align: center;
  }

  .section-header {
    font-size: 3rem;
    color: var(--accent-main);
    text-transform: uppercase;
  }

  .section-header-3 {
    font-size: 2rem;
    color: var(--accent-third);
    text-transform: uppercase;
  }

  .page-break {
    grid-column: 1 / span 2;
    height: 6rem;
  }
}
