@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-code: "Fira Code", sans-serif;
  --font-fira-condensed: "Fira Sans Condensed";
  --color-my-grey: #080A12;
  --color-my-blue: #1c2541;
  --color-my-dark-blue: #0b132b;
  --color-my-light-blue: #3a506b;
  --color-my-teal: #5bc0be;
  --color-my-dark-teal: #3B9D9C;
  --color-my-orange: #F25E0A;
  }