<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="bg-my-grey font-fira-condensed text-white">
    <main>
      <div
        id="hero-section"
        class="h-dvh font-code md:m-4 md:grid md:grid-cols-2"
      >
        <div class="flex h-1/2 items-center justify-center md:h-full">
          <h1 class="text-5xl text-my-teal md:text-7xl xl:text-9xl">
            nathanael<br /><span class="w-full md:ml-12 lg:ml-24">allen</span><br /><span
              class=""
              >.dev</span
            >
          </h1>
        </div>
        <ul
          class="flex flex-col items-center justify-center gap-9 font-code text-4xl lg:h-full"
        >
          <li class="w-full md:w-1/2">
            <a
              class="flex font-light w-full items-center justify-center p-2 hover:bg-my-dark-teal transition-colors duration-300 ease-out"
              href="#"
              >ABOUT</a
            >
          </li>
          <li class="w-full md:w-1/2">
            <a
              class="flex font-light w-full items-center justify-center p-2 hover:bg-my-dark-teal transition-colors duration-300 ease-out"
              href="#"
              >PROJECTS</a
            >
          </li>
          <li class="w-full md:w-1/2">
            <a
              class="flex font-light w-full items-center justify-center p-2 hover:bg-my-dark-teal transition-colors duration-300 ease-out"
              href="#"
              >NOTES</a
            >
          </li>
          <li class="w-full md:w-1/2">
            <a
              class="flex font-light w-full items-center justify-center p-2 hover:bg-my-dark-teal transition-colors duration-300 ease-out"
              href="https://github.com/Nathanael-Allen"
              target="_blank"
              >GIT HUB</a
            >
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
